<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
</head>
<body>

{% if sent==True %}
    <p>Email has been sent to your mail, It is only valid for 30 Min</p>
{% endif %}

{% if sent==False %}
    <p>Email has not been linked to any account!</p>
{% endif %}
{% if expired==True %}
    <p style="color: red">That link has been expired, request a new one, notice it is valid for 30 minutes only.</p>
{% endif %}

{% if exist==False %}
    <p style="color: red">It is not a valid URL, you can always reset your password</p>
{% endif %}

<form method="post" action="{{ url_for('forget') }}">
    <input type="email" placeholder="Email Address" name="mail">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit">Send Reset Link</button>
</form>

</body>
</html>