<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<header>
<h1>Welcome {{ login_session['username'] }}</h1>

<h2>That is your email: {{ login_session['email'] }}</h2>
<p>state= {{ login_session['state'] }}</p>

<h5><a href="{{ url_for('logout') }}" >Logout</a></h5>
<h5><a href="{{ url_for('chgpass') }}" >Change My Password</a></h5>
<h5><a href="{{ url_for('send') }}" >Send MSGS</a></h5>
<h5><a href="{{ url_for('read') }}" >Read MSGS</a></h5>

</header>



</body>
</html>